@import "login_header.css";
@import "login_button.css";

*{padding: 0; margin: 2px;}
.body {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  border:solid;
  border-radius: 10px;
  }

  @media screen and (max-width: 700px) {
    .body {
      height: 60%;
    }
  }